/*STYLING FOR PORTFOLIO WEBSITE*/

/*apply background image to the website*/

html {
	background: url("../img/background-image.png")  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*changing body attributes*/
body {
	font-family: "Source Code Pro", monospace;
	color: black;
	font-weight: 300;
	background: url("../img/background-image.jpg")  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
}

/*adjust the size and color of horizontal rule*/

hr {
	border: 1.5px solid black;
}

/*media query to change text alignment for small screen size*/

@media (max-width: 768px;) {
	.heading {
		text-align: center;
	}
}

/*class to apply to change color of select texts*/

.text-standout {
	font-weight: bold;
}

/*class to apply to change texts thickness*/

.text-thin {
	font-weight: 100;
}

/*class to apply to increase text size*/

.text-enlarge {
	font-size: 60px;
}

/*class to change logo padding*/

.title-logo {
	margin-top: 20px;
}

/*class to increase padding*/

.text-padding {
	padding-bottom: 25px;
}
